
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Blood Bank Information System</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>


</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="http://localhost:8090/">Blood Bank Information System</a>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="navbar-nav">
							<li class="nav-item active"><a class="nav-link"
								href="/bloodBank.html">Blood Banks <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link" href="/seeker.html">Seeker</a></li>
						</ul>

						<ul class="navbar-nav ml-md-auto">
							<form class="form-inline" method="post" action="/bloodBank/search.html">
								<input name="search" class="form-control mr-sm-2" type="text"
									placeholder="Enter Keywords" />
								<button class="btn btn-primary my-2 my-sm-0" type="submit">
									Search for Blood Banks</button>
							</form>
						</ul>
					</div>
				</nav>
				<div class="container" style="padding: 50px;">

					<h5>Create Blood Bank</h5><br>
					<form th:action="@{/bloodBank/add}" 
					method="post">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th scope="row">Blood Bank Id:</th>
									<td><input name="bloodBankId" type="text" class="form-control" required/></td>
								</tr>
								<tr>
									<th scope="row">Blood Bank Name:</th>
									<td><input name="bloodBankName" type="text" class="form-control" required/></td>
								</tr>
								<tr>
									<th scope="row">Address:</th>
									<td><input name="address" type="text" class="form-control" required/></td>
								</tr>
								<tr>
									<th scope="row">City:</th>
									<td><input name="city" type="text" class="form-control" required/></td>
								</tr>
								<tr>
									<th scope="row">Phone:</th>
									<td><input name="phone" type="number" min="1000000000" max="9999999999" class="form-control" required/></td>
								</tr>
								<tr>
									<th scope="row">Website:</th>
									<td><input name="website" type="text" class="form-control" required/></td>
								</tr>
								<tr>
									<th scope="row">Email:</th>
									<td><input name="email" type="text" class="form-control" required/></td>
								</tr>
							</tbody>
						</table>
								<button class="btn btn-primary" type="submit">Create</button>
					</form>
				</div></div></div>
			</div>
</body>
</html>
