
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Blood Bank Information System</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script>
function clicked(e)
{
    if(!confirm('Are you sure you want to delete?'))e.preventDefault();
}
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="http://localhost:8090/">Blood Bank Information System</a>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link"
								href="/bloodBank.html">Blood Banks</a>
							</li>
							<li class="nav-item active"><a class="nav-link" 
								href="/seeker.html">Seeker <span class="sr-only">(current)</span></a>
							</li>
						</ul>

						<ul class="navbar-nav ml-md-auto">
							<form class="form-inline" method="post" action="/seeker/search.html">
								<input name="search" class="form-control mr-sm-2" type="text"
									placeholder="Enter Keywords" />
								<button class="btn btn-primary my-2 my-sm-0" type="submit">
									Search for Seekers</button>
							</form>
						</ul>
					</div>
				</nav>
				<div class="container" style="padding: 50px;">

					<h5>Seeker List</h5>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Blood Group</th>
								<th scope="col">Phone</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="seeker : ${seekers}">
								<th scope="row"><a style="color: black;" href="#"
									th:href="@{/seeker.html(seekerId=${seeker.seekerId})}"
									th:text="${seeker.seekerId}"></a></th>
								<td th:text="${seeker.firstName}"></td>
								<td th:text="${seeker.lastName}"></td>
								<td th:text="${seeker.bloodGroup}"></td>
								<td th:text="${seeker.phone}"></td>
								<td><form
										th:action="@{/seeker.html/delete(seekerId=${seeker.seekerId})}"
										method="post">
										<button class="btn btn-primary"
											th:value="${seeker.seekerId}" onclick="clicked(event)">
											<i class="fa fa-trash"></i>
										</button>
									</form></td>
							</tr>

						</tbody>
					</table>
					<a href="/seeker/create.html">Add a new Seeker</a>
				</div>
			</div>
</body>
</html>